@model IEnumerable<ADStarter.Models.Therapist>

@{
    ViewData["Title"] = "Therapist List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <h3>Therapist List</h3>
        </div>
    </div>

    <div class="container mt-4">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="display" id="therapistTable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Phone Number</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var therapist in Model)
                            {
                                <tr>
                                    <td>@therapist.t_name</td>
                                    <td>@therapist.t_phoneNum</td>
                                    <td>@therapist.t_city</td>
                                    <td>
                                        <a href="@Url.Action("ViewTherapistSchedule", "TherapistAdmin", new { area = "Admin", id = therapist.t_ID })" class="btn btn-primary">
                                            <i class="fa fa-eye"></i>   View Schedule
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('#therapistTable').DataTable();
        });
    </script>
}
