@model ADStarter.Models.Admin
@{
    ViewData["Title"] = "Add Admin Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userId = ViewBag.UserId as string;
    bool isUpdating = !string.IsNullOrEmpty(Model?.a_name); // Check if Model.t_name is not null or empty to determine if updating
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Admin Form</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a asp-controller="UserList" asp-action="List" asp-area="Admin">User List</a>
                        </li>
                        <li class="breadcrumb-item active">@((isUpdating ? "Update" : "Add")) Admin Details</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-xl-12">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Account Information</h5>
                            </div>
                            <div class="card-body">
                                <form class="theme-form" method="post">
                                    <div class="row g-3">
                                        <input type="hidden" name="userId" value="@userId" />
                                        <div class="col-md-4">
                                            <label asp-for="a_name" class="col-form-label pt-0">Name</label>
                                            <input asp-for="a_name" class="form-control" placeholder="Enter name">
                                            <span asp-validation-for="a_name" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="a_phoneNum" class="col-form-label pt-0">Contact Number</label>
                                            <input asp-for="a_phoneNum" class="form-control" placeholder="Contact">
                                            <span asp-validation-for="a_phoneNum" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-4">
                                            <label asp-for="a_zip" class="col-form-label pt-0">Postcode</label>
                                            <input asp-for="a_zip" class="form-control" placeholder="Postcode">
                                            <span asp-validation-for="a_zip" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row g-3">
                                        <div class="col-md-6">
                                            <label asp-for="a_street" class="col-form-label pt-0">Street</label>
                                            <input asp-for="a_street" class="form-control" placeholder="Street">
                                            <span asp-validation-for="a_street" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <label asp-for="a_city" class="col-form-label pt-0">City</label>
                                            <input asp-for="a_city" class="form-control" placeholder="City">
                                            <span asp-validation-for="a_city" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-3">
                                            <label asp-for="a_state" class="col-form-label pt-0">State</label>
                                            <select asp-for="a_state" class="form-select">
                                                <option disabled selected>Select State</option>
                                                <option value="Johor">Johor</option>
                                                <option value="Kedah">Kedah</option>
                                                <option value="Kelantan">Kelantan</option>
                                                <option value="Malacca">Malacca</option>
                                                <option value="Negeri Sembilan">Negeri Sembilan</option>
                                                <option value="Pahang">Pahang</option>
                                                <option value="Penang">Penang</option>
                                                <option value="Perak">Perak</option>
                                                <option value="Perlis">Perlis</option>
                                                <option value="Sabah">Sabah</option>
                                                <option value="Sarawak">Sarawak</option>
                                                <option value="Selangor">Selangor</option>
                                                <option value="Terengganu">Terengganu</option>
                                                <option value="Kuala Lumpur">Kuala Lumpur</option>
                                                <option value="Labuan">Labuan</option>
                                                <option value="Putrajaya">Putrajaya</option>
                                            </select>
                                            <span asp-validation-for="a_state" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="card-footer text-end">
                                        <button class="btn btn-primary" type="submit">@((isUpdating ? "Update" : "Submit"))</button>
                                        <a href="@Url.Action("List", "UserList", new { area = "Admin" })" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>

@section Scripts{
    <!-- Validation JS -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
