@* @model ADStarter.Models.ViewModels.ChildDetailsViewModel

<form asp-controller="ChildAdmin" asp-action="UpdateStep" asp-area="Admin" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="ChildId" />
    <div class="form-group">
        <label asp-for="Step">Current Step</label>
        <input asp-for="Step" class="form-control" readonly />
    </div>
    <div class="form-group">
        <label for="newStep">New Step</label>
        <input type="number" class="form-control" id="newStep" name="newStep" required />
        <span asp-validation-for="newStep" class="text-danger"></span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>
 *@