@model ADStarter.Models.Parent

@{
    ViewData["Title"] = "User Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Edit Profile</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Users</li>
                        <li class="breadcrumb-item active"> Edit Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="edit-profile">
            <div class="row">
                <div class="col-xl-4">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">My Profile</h4>
                            <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row mb-2">
                                    <div class="profile-title">
                                        <div class="media">
                                            <img class="img-70 rounded-circle" alt="" src="~/assets/images/user/7.jpg">
                                            <div class="media-body">
                                                <h5 class="mb-1">MARK JECNO</h5>
                                                <p>DESIGNER</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <h6 class="form-label">Bio</h6>
                                    <textarea class="form-control" rows="5">On the other hand, we denounce with righteous indignation</textarea>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Email-Address</label>
                                    <input class="form-control" placeholder="your-email@domain.com">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <input class="form-control" type="password" value="password">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Website</label>
                                    <input class="form-control" placeholder="http://Uplor .com">
                                </div>
                                <div class="form-footer">
                                    <button class="btn btn-primary btn-block">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xl-8">

                    div id="father-form">
                    <h3>Father's Information</h3>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label asp-for="f_ID" class="form-label">Father's IC Number</label>
                            <input asp-for="f_ID" class="form-control" />
                            <span asp-validation-for="f_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="f_name" class="form-label">Father's Name</label>
                            <input asp-for="f_name" class="form-control" />
                            <span asp-validation-for="f_name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="f_phoneNum" class="form-label">Father's Phone Number</label>
                            <input asp-for="f_phoneNum" class="form-control" />
                            <span asp-validation-for="f_phoneNum" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="f_race" class="form-label">Father's Race</label>
                            <input asp-for="f_race" class="form-control" />
                            <span asp-validation-for="f_race" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="f_address" class="form-label">Father's Address</label>
                            <input asp-for="f_address" class="form-control" />
                            <span asp-validation-for="f_address" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="f_Waddress" class="form-label">Father's Work Address</label>
                            <input asp-for="f_Waddress" class="form-control" />
                            <span asp-validation-for="f_Waddress" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="f_email" class="form-label">Father's Email</label>
                            <input asp-for="f_email" class="form-control" />
                            <span asp-validation-for="f_email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="f_occupation" class="form-label">Father's Occupation</label>
                            <input asp-for="f_occupation" class="form-control" />
                            <span asp-validation-for="f_occupation" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="f_status" class="form-label">Father's Status</label>
                            <input asp-for="f_status" class="form-control" />
                            <span asp-validation-for="f_status" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="fm_income" class="form-label">Household Income</label>
                            <input asp-for="fm_income" class="form-control" />
                            <span asp-validation-for="fm_income" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary mt-3" onclick="showMotherForm()">Next</button>
                </div>

                <div id="mother-form" style="display: none;">
                    <h3>Mother's Information</h3>
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label asp-for="m_ID" class="form-label">Mother's IC Number</label>
                            <input asp-for="m_ID" class="form-control" />
                            <span asp-validation-for="m_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="m_name" class="form-label">Mother's Name</label>
                            <input asp-for="m_name" class="form-control" />
                            <span asp-validation-for="m_name" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="m_phoneNum" class="form-label">Mother's Phone Number</label>
                            <input asp-for="m_phoneNum" class="form-control" />
                            <span asp-validation-for="m_phoneNum" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="m_race" class="form-label">Mother's Race</label>
                            <input asp-for="m_race" class="form-control" />
                            <span asp-validation-for="m_race" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="m_address" class="form-label">Mother's Address</label>
                            <input asp-for="m_address" class="form-control" />
                            <span asp-validation-for="m_address" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="m_Waddress" class="form-label">Mother's Work Address</label>
                            <input asp-for="m_Waddress" class="form-control" />
                            <span asp-validation-for="m_Waddress" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="m_email" class="form-label">Mother's Email</label>
                            <input asp-for="m_email" class="form-control" />
                            <span asp-validation-for="m_email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="m_status" class="form-label">Mother's Status</label>
                            <input asp-for="m_status" class="form-control" />
                            <span asp-validation-for="m_status" class="text-danger"></span>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary mt-3" onclick="showFatherForm()">Previous</button>
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </div>

                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title mb-0">Add projects And Upload</h4>
                            <div class="card-options"><a class="card-options-collapse" href="#" data-bs-toggle="card-collapse"><i class="fe fe-chevron-up"></i></a><a class="card-options-remove" href="#" data-bs-toggle="card-remove"><i class="fe fe-x"></i></a></div>
                        </div>
                        <div class="table-responsive add-project">
                            <table class="table card-table table-vcenter text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a class="text-inherit" href="#">Untrammelled prevents </a></td>
                                        <td>28 May 2018</td>
                                        <td><span class="status-icon bg-success"></span> Completed</td>
                                        <td>$56,908</td>
                                        <td class="text-end"><a class="icon" href="javascript:void(0)"></a><a class="btn btn-primary btn-sm" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-transparent btn-sm" href="javascript:void(0)"><i class="fa fa-link"></i> Update</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-danger btn-sm" href="javascript:void(0)"><i class="fa fa-trash"></i> Delete</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="text-inherit" href="#">Untrammelled prevents</a></td>
                                        <td>12 June 2018</td>
                                        <td><span class="status-icon bg-danger"></span> On going</td>
                                        <td>$45,087</td>
                                        <td class="text-end"><a class="icon" href="javascript:void(0)"></a><a class="btn btn-primary btn-sm" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-transparent btn-sm" href="javascript:void(0)"><i class="fa fa-link"></i> Update</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-danger btn-sm" href="javascript:void(0)"><i class="fa fa-trash"></i> Delete</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="text-inherit" href="#">Untrammelled prevents</a></td>
                                        <td>12 July 2018</td>
                                        <td><span class="status-icon bg-warning"></span> Pending</td>
                                        <td>$60,123</td>
                                        <td class="text-end"><a class="icon" href="javascript:void(0)"></a><a class="btn btn-primary btn-sm" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-transparent btn-sm" href="javascript:void(0)"><i class="fa fa-link"></i> Update</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-danger btn-sm" href="javascript:void(0)"><i class="fa fa-trash"></i> Delete</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="text-inherit" href="#">Untrammelled prevents</a></td>
                                        <td>14 June 2018</td>
                                        <td><span class="status-icon bg-warning"></span> Pending</td>
                                        <td>$70,435</td>
                                        <td class="text-end"><a class="icon" href="javascript:void(0)"></a><a class="btn btn-primary btn-sm" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-transparent btn-sm" href="javascript:void(0)"><i class="fa fa-link"></i> Update</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-danger btn-sm" href="javascript:void(0)"><i class="fa fa-trash"></i> Delete</a></td>
                                    </tr>
                                    <tr>
                                        <td><a class="text-inherit" href="#">Untrammelled prevents</a></td>
                                        <td>25 June 2018</td>
                                        <td><span class="status-icon bg-success"></span> Completed</td>
                                        <td>$15,987</td>
                                        <td class="text-end"><a class="icon" href="javascript:void(0)"></a><a class="btn btn-primary btn-sm" href="javascript:void(0)"><i class="fa fa-pencil"></i> Edit</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-transparent btn-sm" href="javascript:void(0)"><i class="fa fa-link"></i> Update</a><a class="icon" href="javascript:void(0)"></a><a class="btn btn-danger btn-sm" href="javascript:void(0)"><i class="fa fa-trash"></i> Delete</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
