@model ADStarter.Models.Child

@{
    ViewData["Title"] = "Add New Child";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Ensure consistent layout usage
}

<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <h3>Child Form</h3>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form asp-action="AddNewChild" method="post" class="needs-validation" enctype="multipart/form-data">
                            <div class="row g-3">

                                <div class="col-md-6">
                                    <label asp-for="c_myKid" class="form-label">Child's MyKid Number</label>
                                    <input asp-for="c_myKid" class="form-control" placeholder="000000100000" />
                                    <span asp-validation-for="c_myKid" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row g-3 mt-3">
                                <div class="col-md-6">
                                    <label asp-for="c_name" class="form-label">Child's Name</label>
                                    <input asp-for="c_name" class="form-control" required />
                                    <span asp-validation-for="c_name" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="c_age" class="form-label">Child's Age</label>
                                    <input asp-for="c_age" class="form-control" readonly id="ageInput" />
                                    <span asp-validation-for="c_age" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row g-3 mt-3">
                                <div class="col-md-6">
                                    <label asp-for="c_gender" class="form-label">Child's Gender</label>
                                    <select asp-for="c_gender" class="form-control" required>
                                        <option value="">Select Gender</option>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                    <span asp-validation-for="c_gender" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="c_dob" class="form-label">Child's Date of Birth</label>
                                    <input asp-for="c_dob" type="date" class="form-control" required id="dobInput" />
                                    <span asp-validation-for="c_dob" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row g-3 mt-3">
                                <div class="col-md-6">
                                    <label asp-for="c_nationality" class="form-label">Child's Nationality</label>
                                    <select asp-for="c_nationality" class="form-control" id="nationalitySelect" required>
                                        <option value="">Select Nationality</option>
                                        <option value="Malaysian">Malaysian</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <span asp-validation-for="c_nationality" class="text-danger"></span>
                                </div>
                                <div id="otherNationalityField" class="col-md-6 d-none">
                                    <label class="form-label">Other Nationality</label>
                                    <select class="form-control" id="otherNationalitySelect" name="c_otherNationality">
                                        <option value="">Select Country</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row g-3 mt-3">
                                <div class="col-md-6">
                                    <label asp-for="c_religion" class="form-label">Child's Religion</label>
                                    <input asp-for="c_religion" class="form-control" />
                                    <span asp-validation-for="c_religion" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label asp-for="c_race" class="form-label">Child's Race</label>
                                    <input asp-for="c_race" class="form-control" />
                                    <span asp-validation-for="c_race" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row g-3 mt-3">
                                <div class="col-md-6">
                                    <label asp-for="c_photo" class="form-label">Child's Photo</label>
                                    <input type="file" name="file" asp-for="c_photo" class="form-control" />
                                    <span asp-validation-for="c_photo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row g-3 mt-3">
                                <div class="col-md-6">
                                    <button class="btn btn-primary btn-submit" type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const nationalitySelect = document.getElementById('nationalitySelect');
            const otherNationalityField = document.getElementById('otherNationalityField');
            const otherNationalitySelect = document.getElementById('otherNationalitySelect');
            const dobInput = document.getElementById('dobInput');
            const ageInput = document.getElementById('ageInput');

            nationalitySelect.addEventListener('change', function () {
                if (this.value === 'Other') {
                    otherNationalityField.classList.remove('d-none');
                    fetchCountries();
                } else {
                    otherNationalityField.classList.add('d-none');
                }
            });

            function fetchCountries() {
                fetch('/assets/json/countries/countries.json')
                    .then(response => response.json())
                    .then(countries => {
                        populateCountries(countries);
                    })
                    .catch(error => console.error('Error fetching countries:', error));
            }

            function populateCountries(countries) {
                otherNationalitySelect.innerHTML = '<option value="">Select Country</option>';
                countries.forEach(country => {
                    const option = document.createElement('option');
                    option.value = country;
                    option.textContent = country;
                    otherNationalitySelect.appendChild(option);
                });
            }

            dobInput.addEventListener('change', function () {
                var dob = new Date(dobInput.value);
                var today = new Date();
                var age = today.getFullYear() - dob.getFullYear();
                var m = today.getMonth() - dob.getMonth();
                if (m < 0 || (m === 0 && today.getDate() < dob.getDate())) {
                    age--;
                }
                ageInput.value = age;
            });

            var myKidInput = document.querySelector("input[name='c_myKid']");

            myKidInput.addEventListener("input", function () {
                var validityMessage = '';

                if (!/^\d{12}$/.test(this.value)) {
                    validityMessage = 'Invalid MyKid number. Must be exactly 12 digits and numeric.';
                }

                this.setCustomValidity(validityMessage);
            });
        });
    </script>
}
