@model ADStarter.Models.Child

@{
    ViewData["Title"] = "Child Form";
}

<div>
    <h3>Child Form</h3>
    <div class="row g-3">
        <div class="col-md-6">
            <label asp-for="c_myKid" class="form-label">Child's MyKid Number</label>
            <input asp-for="c_myKid" class="form-control" placeholder="000000100000" />
            <span asp-validation-for="c_myKid" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_name" class="form-label">Child's Name</label>
            <input asp-for="c_name" class="form-control" required />
            <span asp-validation-for="c_name" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_age" class="form-label">Child's Age</label>
            <input asp-for="c_age" class="form-control" readonly id="c_age" />
            <span asp-validation-for="c_age" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_gender" class="form-label">Child's Gender</label>
            <select asp-for="c_gender" class="form-control" required>
                <option value="">Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <span asp-validation-for="c_gender" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_dob" class="form-label">Child's Date of Birth</label>
            <input accept="Date" asp-for="c_dob" type="date" class="form-control" value=0 required id="dobInput" />
            <span asp-validation-for="c_dob" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_nationality" class="form-label">Child's Nationality</label>
            <select asp-for="c_nationality" class="form-control" id="nationalitySelect" required>
                <option value="">Select Nationality</option>
                <option value="Malaysian">Malaysian</option>
                <option value="Other">Other</option>
            </select>
            <span asp-validation-for="c_nationality" class="text-danger"></span>
        </div>
        <div id="otherNationalityField" class="col-md-6 d-none">
            <label class="form-label">Other Nationality</label>
            <select class="form-control" id="otherNationalitySelect" name="c_otherNationality">
                <option value="">Select Country</option>
            </select>
        </div>
        <div class="col-md-6">
            <label asp-for="c_religion" class="form-label">Child's Religion</label>
            <input asp-for="c_religion" class="form-control" />
            <span asp-validation-for="c_religion" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_race" class="form-label">Child's Race</label>
            <input asp-for="c_race" class="form-control" />
            <span asp-validation-for="c_race" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_photo" class="form-label">Child's Photo</label>
            <input type="file" name="file" asp-for="c_photo" class="form-control" />
        </div>
    </div>
</div>


@section Styles {
    <style>
        /* Optional: Style for dropdown indicators */
        select {
            appearance: none;
            background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right center;
            background-size: 1.2em;
        }
    </style>
}
