@model ADStarter.Models.Child

<div>
    <div class="row g-3">
        <div class="form-group">
            <img class="rounded-circle" alt="Child's Photo" src="@Model.c_photo" style="width: 120px; height: 120px;">
        </div>
        <div class="col-md-6">
            <label asp-for="c_myKid" class="form-label">Child's MyKid Number</label>
            <input asp-for="c_myKid" class="form-control" />
            <span asp-validation-for="c_myKid" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_name" class="form-label">Child's Name</label>
            <input asp-for="c_name" class="form-control" />
            <span asp-validation-for="c_name" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_age" class="form-label">Child's Age</label>
            <input asp-for="c_age" class="form-control" />
            <span asp-validation-for="c_age" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_gender" class="form-label">Child's Gender</label>
            <input asp-for="c_gender" class="form-control" />
            <span asp-validation-for="c_gender" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_dob" class="form-label">Child's Date of Birth</label>
            <input asp-for="c_dob" type="date" class="form-control" />
            <span asp-validation-for="c_dob" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_nationality" class="form-label">Child's Nationality</label>
            <input asp-for="c_nationality" class="form-control" />
            <span asp-validation-for="c_nationality" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_religion" class="form-label">Child's Religion</label>
            <input asp-for="c_religion" class="form-control" />
            <span asp-validation-for="c_religion" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_race" class="form-label">Child's Race</label>
            <input asp-for="c_race" class="form-control" />
            <span asp-validation-for="c_race" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="c_photo" class="form-label">Child's Photo</label>
            <input type="file" name="file" asp-for="c_photo" class="form-control" />
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Add any necessary script logic here
    </script>
}
