@model ADStarter.Models.ParentChildViewModel

<div>
    
    <div class="row g-3">
        <div class="col-md-6">
            <label asp-for="TreatmentHistory.th_pediatrician" class="form-label">Pediatrician</label>
            <input asp-for="TreatmentHistory.th_pediatrician" class="form-control" />
            <span asp-validation-for="TreatmentHistory.th_pediatrician" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="TreatmentHistory.th_recommendation" class="form-label">Recommendation</label>
            <input asp-for="TreatmentHistory.th_recommendation" class="form-control" />
            <span asp-validation-for="TreatmentHistory.th_recommendation" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="TreatmentHistory.th_deadline" class="form-label">Deadline</label>
            <input asp-for="TreatmentHistory.th_deadline" type="date" class="form-control" />
            <span asp-validation-for="TreatmentHistory.th_deadline" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="TreatmentHistory.th_diagnosis" class="form-label">Diagnosis</label>
            <input asp-for="TreatmentHistory.th_diagnosis" class="form-control" />
            <span asp-validation-for="TreatmentHistory.th_diagnosis" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="TreatmentHistory.th_prevTherapy" class="form-label">Previous Therapy</label>
            <input asp-for="TreatmentHistory.th_prevTherapy" class="form-control" />
            <span asp-validation-for="TreatmentHistory.th_prevTherapy" class="text-danger"></span>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // Add any necessary script logic here
    </script>
}
