@model ADStarter.Models.ParentChildViewModel

<div id="mother-form">
    <h3>Mother's Information</h3>
    <div class="row g-3">
        <div class="col-md-6">
            <label asp-for="Parent.m_ID" class="form-label">Mother's IC Number</label>
            <input asp-for="Parent.m_ID" class="form-control" readonly />
            <span asp-validation-for="Parent.m_ID" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.m_name" class="form-label">Mother's Name</label>
            <input asp-for="Parent.m_name" class="form-control" />
            <span asp-validation-for="Parent.m_name" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.m_phoneNum" class="form-label">Mother's Phone Number</label>
            <input asp-for="Parent.m_phoneNum" class="form-control" />
            <span asp-validation-for="Parent.m_phoneNum" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.m_race" class="form-label">Mother's Race</label>
            <input asp-for="Parent.m_race" class="form-control" />
            <span asp-validation-for="Parent.m_race" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.m_address" class="form-label">Mother's Address</label>
            <input asp-for="Parent.m_address" class="form-control" />
            <span asp-validation-for="Parent.m_address" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.m_Waddress" class="form-label">Mother's Work Address</label>
            <input asp-for="Parent.m_Waddress" class="form-control" />
            <span asp-validation-for="Parent.m_Waddress" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.m_email" class="form-label">Mother's Email</label>
            <input asp-for="Parent.m_email" class="form-control" />
            <span asp-validation-for="Parent.m_email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.m_status" class="form-label">Mother's Status</label>
            <select asp-for="Parent.m_status" class="form-control">
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Separated">Separated</option>
                <option value="Divorced">Divorced</option>
                <option value="Widowed">Widowed</option>
            </select>
            <span asp-validation-for="Parent.m_status" class="text-danger"></span>
        </div>

    </div>
</div>
