@model ADStarter.Models.ParentChildViewModel

<div>
    <h3>Father's Information</h3>
    <div class="row g-3">
        <div class="col-md-6">
            <label asp-for="Parent.f_ID" class="form-label">Father's IC Number</label>
            <input asp-for="Parent.f_ID" class="form-control" readonly />
            <span asp-validation-for="Parent.f_ID" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.f_name" class="form-label">Father's Name</label>
            <input asp-for="Parent.f_name" class="form-control" />
            <span asp-validation-for="Parent.f_name" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.f_phoneNum" class="form-label">Father's Phone Number</label>
            <input asp-for="Parent.f_phoneNum" class="form-control" />
            <span asp-validation-for="Parent.f_phoneNum" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.f_race" class="form-label">Father's Race</label>
            <input asp-for="Parent.f_race" class="form-control" />
            <span asp-validation-for="Parent.f_race" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.f_address" class="form-label">Father's Address</label>
            <input asp-for="Parent.f_address" class="form-control" />
            <span asp-validation-for="Parent.f_address" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.f_Waddress" class="form-label">Father's Work Address</label>
            <input asp-for="Parent.f_Waddress" class="form-control" />
            <span asp-validation-for="Parent.f_Waddress" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.f_email" class="form-label">Father's Email</label>
            <input asp-for="Parent.f_email" class="form-control" />
            <span asp-validation-for="Parent.f_email" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.f_occupation" class="form-label">Father's Occupation</label>
            <input asp-for="Parent.f_occupation" class="form-control" />
            <span asp-validation-for="Parent.f_occupation" class="text-danger"></span>
        </div>
        <div class="col-md-6">
            <label asp-for="Parent.f_status" class="form-label">Father's Status</label>
            <select asp-for="Parent.f_status" class="form-control">
                <option value="Single">Single</option>
                <option value="Married">Married</option>
                <option value="Separated">Separated</option>
                <option value="Divorced">Divorced</option>
                <option value="Widowed">Widowed</option>
            </select>
            <span asp-validation-for="Parent.f_status" class="text-danger"></span>
        </div>

        <div class="col-md-6">
            <label asp-for="Parent.fm_income" class="form-label">Household Income</label>
            <input asp-for="Parent.fm_income" class="form-control" />
            <span asp-validation-for="Parent.fm_income" class="text-danger"></span>
        </div>
    </div>
</div>
