@model ADStarter.Models.ParentChildViewModel
@{
    ViewData["Title"] = "Form Wizard 3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Form Wizard With Icon</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="RegistrationController" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Form Layout</li>
                        <li class="breadcrumb-item active"> Form Wizard With Icon</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Form Wizard with icon</h5>
                    </div>
                    <div class="card-body">
                        <form class="f1" asp-action="YourAction" method="post" enctype="multipart/form-data">
                            <div class="f1-steps">
                                <div class="f1-progress">
                                    <div class="f1-progress-line" data-now-value="33" data-number-of-steps="3"></div>
                                </div>
                                <div class="f1-step active">
                                    <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                                    <p>Parent Information</p>
                                </div>
                                <div class="f1-step">
                                    <div class="f1-step-icon"><i class="fa fa-child"></i></div>
                                    <p>Child Information</p>
                                </div>
                                <div class="f1-step">
                                    <div class="f1-step-icon"><i class="fa fa-medkit"></i></div>
                                    <p>Treatment History</p>
                                </div>
                            </div>

                            <fieldset>
                                <h3>Parent's Information</h3>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label asp-for="Parent.f_ID" class="form-label">Parent's IC Number</label>
                                        <input asp-for="Parent.f_ID" class="form-control" />
                                        <span asp-validation-for="Parent.f_ID" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.f_name" class="form-label">Parent's Name</label>
                                        <input asp-for="Parent.f_name" class="form-control" />
                                        <span asp-validation-for="Parent.f_name" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.f_phoneNum" class="form-label">Parent's Phone Number</label>
                                        <input asp-for="Parent.f_phoneNum" class="form-control" />
                                        <span asp-validation-for="Parent.f_phoneNum" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.f_race" class="form-label">Parent's Race</label>
                                        <input asp-for="Parent.f_race" class="form-control" />
                                        <span asp-validation-for="Parent.f_race" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.f_address" class="form-label">Parent's Address</label>
                                        <input asp-for="Parent.f_address" class="form-control" />
                                        <span asp-validation-for="Parent.f_address" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.f_Waddress" class="form-label">Parent's Work Address</label>
                                        <input asp-for="Parent.f_Waddress" class="form-control" />
                                        <span asp-validation-for="Parent.f_Waddress" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.f_email" class="form-label">Parent's Email</label>
                                        <input asp-for="Parent.f_email" class="form-control" />
                                        <span asp-validation-for="Parent.f_email" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.f_occupation" class="form-label">Parent's Occupation</label>
                                        <input asp-for="Parent.f_occupation" class="form-control" />
                                        <span asp-validation-for="Parent.f_occupation" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.f_status" class="form-label">Parent's Status</label>
                                        <input asp-for="Parent.f_status" class="form-control" />
                                        <span asp-validation-for="Parent.f_status" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.fm_income" class="form-label">Household Income</label>
                                        <input asp-for="Parent.fm_income" class="form-control" />
                                        <span asp-validation-for="Parent.fm_income" class="text-danger"></span>
                                    </div>
                                </div>

                                <h3>Parent's Information</h3>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label asp-for="Parent.m_ID" class="form-label">Parent's IC Number</label>
                                        <input asp-for="Parent.m_ID" class="form-control" />
                                        <span asp-validation-for="Parent.m_ID" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.m_name" class="form-label">Parent's Name</label>
                                        <input asp-for="Parent.m_name" class="form-control" />
                                        <span asp-validation-for="Parent.m_name" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.m_phoneNum" class="form-label">Parent's Phone Number</label>
                                        <input asp-for="Parent.m_phoneNum" class="form-control" />
                                        <span asp-validation-for="Parent.m_phoneNum" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.m_race" class="form-label">Parent's Race</label>
                                        <input asp-for="Parent.m_race" class="form-control" />
                                        <span asp-validation-for="Parent.m_race" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.m_address" class="form-label">Parent's Address</label>
                                        <input asp-for="Parent.m_address" class="form-control" />
                                        <span asp-validation-for="Parent.m_address" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.m_Waddress" class="form-label">Parent's Work Address</label>
                                        <input asp-for="Parent.m_Waddress" class="form-control" />
                                        <span asp-validation-for="Parent.m_Waddress" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.m_email" class="form-label">Parent's Email</label>
                                        <input asp-for="Parent.m_email" class="form-control" />
                                        <span asp-validation-for="Parent.m_email" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Parent.m_status" class="form-label">Parent's Status</label>
                                        <input asp-for="Parent.m_status" class="form-control" />
                                        <span asp-validation-for="Parent.m_status" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="f1-buttons">
                                    <button class="btn btn-primary btn-next" type="button">Next</button>
                                </div>
                            </fieldset>

                            <fieldset>
                                <h3>Child's Information</h3>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label asp-for="Child.c_myKid" class="form-label">Child's MyKid Number</label>
                                        <input asp-for="Child.c_myKid" class="form-control" />
                                        <span asp-validation-for="Child.c_myKid" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Child.c_name" class="form-label">Child's Name</label>
                                        <input asp-for="Child.c_name" class="form-control" />
                                        <span asp-validation-for="Child.c_name" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Child.c_gender" class="form-label">Child's Gender</label>
                                        <input asp-for="Child.c_gender" class="form-control" />
                                        <span asp-validation-for="Child.c_gender" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Child.c_dob" class="form-label">Child's Date of Birth</label>
                                        <input asp-for="Child.c_dob" type="date" class="form-control" />
                                        <span asp-validation-for="Child.c_dob" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Child.c_nationality" class="form-label">Child's Nationality</label>
                                        <input asp-for="Child.c_nationality" class="form-control" />
                                        <span asp-validation-for="Child.c_nationality" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Child.c_religion" class="form-label">Child's Religion</label>
                                        <input asp-for="Child.c_religion" class="form-control" />
                                        <span asp-validation-for="Child.c_religion" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Child.c_race" class="form-label">Child's Race</label>
                                        <input asp-for="Child.c_race" class="form-control" />
                                        <span asp-validation-for="Child.c_race" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="Child.c_photo" class="form-label">Child's Photo</label>
                                        <input type="file" name="file" asp-for="Child.c_photo" class="form-control" />
                                    </div>
                                    <div class="f1-buttons">
                                        <button class="btn btn-primary btn-previous" type="button">Previous</button>
                                        <button class="btn btn-primary btn-next" type="button">Next</button>
                                    </div>
                            </fieldset>

                            <fieldset>
                                <h3>Treatment History</h3>
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <label asp-for="TreatmentHistory.th_pediatrician" class="form-label">Pediatrician</label>
                                        <input asp-for="TreatmentHistory.th_pediatrician" class="form-control" />
                                        <span asp-validation-for="TreatmentHistory.th_pediatrician" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="TreatmentHistory.th_recommendation" class="form-label">Recommendation</label>
                                        <input asp-for="TreatmentHistory.th_recommendation" class="form-control" />
                                        <span asp-validation-for="TreatmentHistory.th_recommendation" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="TreatmentHistory.th_deadline" class="form-label">Deadline</label>
                                        <input asp-for="TreatmentHistory.th_deadline" type="date" class="form-control" />
                                        <span asp-validation-for="TreatmentHistory.th_deadline" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="TreatmentHistory.th_diagnosis" class="form-label">Diagnosis</label>
                                        <input asp-for="TreatmentHistory.th_diagnosis" class="form-control" />
                                        <span asp-validation-for="TreatmentHistory.th_diagnosis" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-6">
                                        <label asp-for="TreatmentHistory.th_prevTherapy" class="form-label">Previous Therapy</label>
                                        <input asp-for="TreatmentHistory.th_prevTherapy" class="form-control" />
                                        <span asp-validation-for="TreatmentHistory.th_prevTherapy" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="f1-buttons">
                                    <button class="btn btn-primary btn-previous" type="button">Previous</button>
                                    <button class="btn btn-primary btn-submit" type="submit">Submit</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
@section Scripts {
    <!-- Plugins JS start-->
    <script src="~/assets/js/sidebar-menu.js"></script>
    <script src="~/assets/js/slick/slick.min.js"></script>
    <script src="~/assets/js/slick/slick.js"></script>
    <script src="~/assets/js/header-slick.js"></script>
    <script src="~/assets/js/form-wizard/form-wizard-three.js"></script>
    <script src="~/assets/js/form-wizard/jquery.backstretch.min.js"></script>
    <script src="~/assets/js/tooltip-init.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>
}
