@{
    ViewData["Title"] = "Email App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-body">
    <div class="container-fluid">
        <div class="page-title">
            <div class="row">
                <div class="col-6">
                    <h3>Email Application</h3>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a asp-controller="Dashboard" asp-action="Index">
                                <svg class="stroke-icon">
                                    <use href="../assets/svg/icon-sprite.svg#stroke-home"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="breadcrumb-item">Email</li>
                        <li class="breadcrumb-item active"> Email Application</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="email-wrap">
            <div class="row">
                <div class="col-xl-3 box-col-12">
                    <div class="md-sidebar">
                        <a class="btn btn-primary md-sidebar-toggle" href="javascript:void(0)">email filter</a>
                        <div class="md-sidebar-aside job-left-aside custom-scrollbar">
                            <div class="email-left-aside">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="email-app-sidebar">
                                            <div class="media">
                                                <div class="media-size-email"><img class="me-3 rounded-circle" src="~/assets/images/user/user.png" alt=""></div>
                                                <div class="media-body">
                                                    <h6 class="f-w-600">MARKJENCO</h6>
                                                    <p>Markjecno@gmail.com</p>
                                                </div>
                                            </div>
                                            <ul class="nav main-menu" role="tablist">
                                                <li class="nav-item"><a class="btn-primary btn-block btn-mail w-100" id="pills-darkhome-tab" data-bs-toggle="pill" href="#pills-darkhome" role="tab" aria-controls="pills-darkhome" aria-selected="true"><i class="icofont icofont-envelope me-2"></i> NEW MAIL</a></li>
                                                <li class="nav-item"><a class="show" id="pills-darkprofile-tab" data-bs-toggle="pill" href="#pills-darkprofile" role="tab" aria-controls="pills-darkprofile" aria-selected="false"><span class="title"><i class="icon-import"></i> Inbox</span><span class="badge pull-right">(236)</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-folder"></i> All mail</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-new-window"></i> Sent</span><span class="badge pull-right">(69)</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-pencil-alt"></i> DRAFT</span><span class="badge pull-right">(59)</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-trash"></i> TRASH</span><span class="badge pull-right">(99)</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-info-alt"></i> IMPORTANT</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-star"></i> Starred</span></a></li>
                                                <li>
                                                    <hr>
                                                </li>
                                                <li><a href="#"><span class="title"><i class="icon-email"></i> UNREAD</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-export"></i> SPAM</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-share"></i> OUTBOX</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-file"></i> UPDATE</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-bell"></i> ALERT</span></a></li>
                                                <li><a href="#"><span class="title"><i class="icon-notepad"></i> NOTES</span><span class="badge pull-right">(20)</span></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 box-col-12">
                    <div class="email-right-aside">
                        <div class="card email-body">
                            <div class="row">
                                <div class="col-xl-4 col-md-12 box-md-12 pr-0">
                                    <div class="pe-0 b-r-light"></div>
                                    <div class="email-top">
                                        <div class="row">
                                            <div class="col">
                                                <h5>Inbox</h5>
                                            </div>
                                            <div class="col text-end">
                                                <div class="dropdown">
                                                    <button class="btn dropdown-toggle" id="dropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">More</button>
                                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#">Action</a><a class="dropdown-item" href="#">Another action</a><a class="dropdown-item" href="#">Something else here</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="inbox">
                                        <div class="media">
                                            <div class="media-size-email"><img class="me-3 rounded-circle" src="~/assets/images/user/user.png" alt=""></div>
                                            <div class="media-body">
                                                <h6>Pork Lorn  <small><span>(15</span> July <span>2018)</span></small></h6>
                                                <p>Mattis luctus. Donec nisi diam,</p>
                                            </div>
                                        </div>
                                        <div class="media active">
                                            <div class="media-size-email"><img class="me-3 rounded-circle" src="~/assets/images/user/user.png" alt=""></div>
                                            <div class="media-body">
                                                <h6>Lorm lpsa  <small><span>(20</span> January)</small></h6>
                                                <p>Mattis luctus. Donec nisi diam,</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-size-email"><img class="me-3 rounded-circle" src="~/assets/images/user/user.png" alt=""></div>
                                            <div class="media-body">
                                                <h6>Hileri makr  <small><span>(20</span> Aug<span> 2018)</span></small></h6>
                                                <p>Mattis luctus. Donec nisi diam,</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-size-email"><img class="me-3 rounded-circle" src="~/assets/images/user/user.png" alt=""></div>
                                            <div class="media-body">
                                                <h6>Lion Lorpa  <small><span>(02</span> Jun <span>2016)</span></small></h6>
                                                <p>Mattis luctus. Donec nisi diam,</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-size-email"><img class="me-3 rounded-circle" src="~/assets/images/user/user.png" alt=""></div>
                                            <div class="media-body">
                                                <h6 class="mt-0">Solvn Relto  <small><span>(25</span> July <span>2015)</span></small></h6>
                                                <p>Mattis luctus. Donec nisi diam,</p>
                                            </div>
                                        </div>
                                        <div class="media">
                                            <div class="media-size-email"><img class="me-3 rounded-circle" src="~/assets/images/user/user.png" alt=""></div>
                                            <div class="media-body">
                                                <h6>Repro Soft  <small><span>(15</span> July <span>2018)</span></small></h6>
                                                <p>Mattis luctus. Donec nisi diam,</p>
                                            </div>
                                        </div>
                                        <div class="media media-size-email">
                                            <img class="me-3 rounded-circle" src="~/assets/images/user/user.png" alt="">
                                            <div class="media-body">
                                                <h6>Lion Lorpa  <small><span>(02</span> Jun <span>2016)</span></small></h6>
                                                <p>Mattis luctus. Donec nisi diam,</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-8 col-md-12 box-md-12 pl-0">
                                    <div class="email-right-aside">
                                        <div class="email-body radius-left">
                                            <div class="ps-0">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade" id="pills-darkhome" role="tabpanel" aria-labelledby="pills-darkhome-tab">
                                                        <div class="email-compose">
                                                            <div class="email-top compose-border">
                                                                <div class="row">
                                                                    <div class="col-sm-8 xl-50">
                                                                        <h4 class="mb-0">New Message</h4>
                                                                    </div>
                                                                    <div class="col-sm-4 btn-middle xl-50">
                                                                        <button class="btn btn-primary btn-block btn-mail text-center mb-0 mt-0 w-100" type="button"><i class="fa fa-paper-plane me-2"></i> SEND</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="email-wrapper">
                                                                <form class="theme-form">
                                                                    <div class="mb-3">
                                                                        <label class="col-form-label pt-0" for="exampleInputEmail1">To</label>
                                                                        <input class="form-control" id="exampleInputEmail1" type="email">
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label for="exampleInputPassword1">Subject</label>
                                                                        <input class="form-control" id="exampleInputPassword1" type="text">
                                                                    </div>
                                                                    <div>
                                                                        <label class="text-muted">Message</label>
                                                                        <textarea id="text-box" name="text-box" cols="10" rows="2">                                                            </textarea>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade active show" id="pills-darkprofile" role="tabpanel" aria-labelledby="pills-darkprofile-tab">
                                                        <div class="email-content">
                                                            <div class="email-top">
                                                                <div class="row">
                                                                    <div class="col-md-6 xl-100 col-sm-12">
                                                                        <div class="media">
                                                                            <img class="me-3 rounded-circle" src="~/assets/images/user/user.png" alt="">
                                                                            <div class="media-body">
                                                                                <h6>Lorm lpsa  <small><span>(20</span> January) <span>6:00</span> AM</small></h6>
                                                                                <p>Mattis luctus. Donec nisi diam text.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6 col-sm-12 xl-100">
                                                                        <div class="float-end d-flex">
                                                                            <p class="user-emailid">Lormlpsa<span>23</span>@Html.Raw("@company.com")</p><i class="fa fa-star-o f-18 mt-1"></i>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="email-wrapper">
                                                                <p>Hello</p>
                                                                <p>Dear Sir Good Morning,</p>
                                                                <h5>Elementum varius nisi vel tempus. Donec eleifend egestas viverra.</h5>
                                                                <p class="m-b-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non diam facilisis, commodo libero et, commodo sapien. Pellentesque sollicitudin massa sagittis dolor facilisis, sit amet vulputate nunc molestie. Pellentesque maximus nibh id luctus porta. Ut consectetur dui nec nulla mattis luctus. Donec nisi diam, congue vitae felis at, ullamcorper bibendum tortor. Vestibulum pellentesque felis felis. Etiam ac tortor felis. Ut elit arcu, rhoncus in laoreet vel, gravida sed tortor.</p>
                                                                <p>In elementum varius nisi vel tempus. Donec eleifend egestas viverra. Donec dapibus sollicitudin blandit. Donec scelerisque purus sit amet feugiat efficitur. Quisque feugiat semper sapien vel hendrerit. Mauris lacus felis, consequat nec pellentesque viverra, venenatis a lorem. Sed urna</p>
                                                                <hr>
                                                                <div class="d-inline-block">
                                                                    <h6 class="text-muted"><i class="icofont icofont-clip"></i> ATTACHMENTS</h6><a class="text-muted text-end right-download" href="#"><i class="fa fa-long-arrow-down me-2"></i>Download All</a>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                                <div class="attachment">
                                                                    <ul class="list-inline">
                                                                        <li class="list-inline-item"><img class="img-fluid" src="~/assets/images/email/1.jpg" alt=""></li>
                                                                        <li class="list-inline-item"><img class="img-fluid" src="~/assets/images/email/2.jpg" alt=""></li>
                                                                        <li class="list-inline-item"><img class="img-fluid" src="~/assets/images/email/3.jpg" alt=""></li>
                                                                    </ul>
                                                                </div>
                                                                <hr>
                                                                <div class="action-wrapper">
                                                                    <ul class="actions">
                                                                        <li><a class="text-muted" href="#"><i class="fa fa-reply me-2"></i>Reply</a></li>
                                                                        <li><a class="text-muted" href="#"><i class="fa fa-reply-all me-2"></i>Reply All</a></li>
                                                                        <li><a class="text-muted" href="#"><i class="fa fa-share me-2"></i></a>Forward</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <!-- Plugins JS start-->
    <script src="../assets/js/sidebar-menu.js"></script>
    <script src="../assets/js/editor/ckeditor/ckeditor.js"></script>
    <script src="../assets/js/editor/ckeditor/adapters/jquery.js"></script>
    <script src="../assets/js/slick/slick.min.js"></script>
    <script src="../assets/js/slick/slick.js"></script>
    <script src="../assets/js/header-slick.js"></script>
    <script src="../assets/js/email-app.js"></script>
    <!-- Plugins JS Ends-->
    <!-- Theme js-->
    <script src="../assets/js/script.js"></script>
}