<div class="sidebar-wrapper" sidebar-layout="stroke-svg">
    <div>
        <div class="logo-wrapper">
            <a asp-controller="SamplePage" asp-action="Page1"><img class="img-fluid for-light" src="~/assets/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="~/assets/images/logo/logo_dark.png" alt=""></a>
            <div class="back-btn"><i class="fa fa-angle-left"></i></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
        </div>
        <div class="logo-icon-wrapper"><a asp-controller="SamplePage" asp-action="Page1"><img class="img-fluid" src="~/assets/images/logo/logo-icon.png" alt=""></a></div>
        <nav class="sidebar-main">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="sidebar-menu">
                <ul class="sidebar-links" id="simple-bar">
                    <li class="sidebar-main-title">
                        <div>
                            <h6 class="lan-8">Applications</h6>
                        </div>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title">
                            <svg class="stroke-icon">
                                <use href="~/assets/svg/icon-sprite.svg"></use>
                            </svg>
                            <svg class="fill-icon">
                                <use href="~/assets/svg/icon-sprite.svg"></use>
                            </svg><span>Sample Pages</span>
                        </a>
                        <ul class="sidebar-submenu">
                            <li><a asp-controller="SamplePage" asp-action="Page1">Page 1</a></li>
                            <li><a asp-controller="SamplePage" asp-action="Page2">Page 2</a></li>
                        </ul>
                    </li>
                    <li class="sidebar-list">
                        <a class="sidebar-link sidebar-title" href="#" target="_blank">
                            <svg class="stroke-icon">
                                <use href="~/assets/svg/icon-sprite.svg"></use>
                            </svg>
                            <span>Documentation</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </nav>
    </div>
</div>