<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_Style" />
</head>
@if (ViewData["Title"] == "Dashboard")
{
    <body onload="startTime()">
        <partial name="_Loader" />
        <div class="tap-top"><i data-feather="chevrons-up"></i></div>
        <div class="page-wrapper compact-wrapper" id="pageWrapper">
            <div class="page-body-wrapper sidebar-icon">
                <partial name="_Header" />
                <div class="page-body-wrapper">
                    @if (ViewContext.RouteData.Values["area"]?.ToString() == "Parent")
                    {
                        @await Html.PartialAsync("_SidebarParent")
                    }
                    else if (ViewContext.RouteData.Values["area"]?.ToString() == "Therapist")
                    {
                        @await Html.PartialAsync("_SidebarTherapist")
                    }
                    else
                    {
                        <partial name="_SidePenal" />
                    }
                    @RenderBody()
                    <partial name="IconMarkup" />
                    <partial name="_Footer" />
                </div>
            </div>
        </div>
        <partial name="_Script" />
        @RenderSection("Script", required: false)
    </body>
}
else
{
    <body>
        <partial name="_Loader" />
        <div class="tap-top"><i data-feather="chevrons-up"></i></div>
        <div class="page-wrapper compact-wrapper" id="pageWrapper">
            <div class="page-body-wrapper sidebar-icon">
                <partial name="_Header" />
                <div class="page-body-wrapper">
                    @if (ViewContext.RouteData.Values["area"]?.ToString() == "Parent")
                    {
                        @await Html.PartialAsync("_SidebarParent")
                    }
                    else if (ViewContext.RouteData.Values["area"]?.ToString() == "Therapist")
                    {
                        @await Html.PartialAsync("_SidebarTherapist")
                    }
                    else
                    {
                        <partial name="_SidePenal" />
                    }
                    @RenderBody()
                    <partial name="_Footer" />
                </div>
            </div>
        </div>
        <partial name="_Script" />
        @if (IsSectionDefined("scripts"))
        {
            @RenderSection("scripts")
        }
    </body>
}
</html>
